<div class="mt-1  w-100">
  <div class=" most-popular">
    <article class="">
        <%= display_image(@most_popular) %>
        <h4>to do</h4>
        <h5>to do</h5>
   
    </article>
  </div>
  <section class="top-category">
    <% @category_article.each do |array| %>
      <article class="">
        <%= display_image(array[1]) %>
        <h5><%= link_to array[0].name, array[0] %></h5>
        <h6><%= array[1].title if array[1] %></h6> 
      </article>
    <% end %>
  </section>
</div>
