<div class='mt-5'>
  <article class='article-page'>
    <figure class='w-25'>
      <%= image_tag @article.image_url, class: 'image' if @article.image %>        
    </figure>
    <div class=' bg-light article_details'>
      <h6><%= @article.title %></h6>
      </p><%= @article.body %><p>
    </div>
  </article>
  <%= render 'shared/footer' %>
</div>