
<section class = 'row d-flex justify-content-center align-items-center'>
  <div class="col-sm-8 col-md-5 ">
    <%= form_for @user do |f|%>
      <%= f.label :name, 'Name', class: 'form-label' %>
      <%= f.text_field :name, placeholder: 'Input name', class:'form-control'%>
      <%= f.submit 'Sign Up' %>
    <% end %>
  </div>
</section>