<Section class="mt-4 ">
  <h3 class="row justify-content-center">AUTHORED ARTICLES</h3>
  <div class="d-flex">
    <%= render @authored_articles %>
  </div>
</section>
<%= render 'shared/footer' %>


