<section class='section_for_articles'>
  <h3 class="row justify-content-center ">AUTHORED ARTICLES</h3>
  <div class="articles my-3 pt-1">
    <%= render @authored_articles %>
  </div>
</section>
<%= render 'shared/footer' %>
