<section class='section_for_articles color-bg'>
  <h3 class="row pt-3 justify-content-center secondary-color ">AUTHORED ARTICLES</h3>
  <div class="articles my-3">
    <%= render @authored_articles %>
  </div>
</section>
<%= render 'shared/footer' %>
