<section class=" authored-articles pt-2 mt-5">
  <h3 class="row justify-content-center my-3">AUTHORED ARTICLES</h3>
  <div class="row my-3 pt-1">
    <%= render @authored_articles %>
  </div>
</section>
<%= render 'shared/footer' %>


