/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*
 *= require font-awesome
 */

@import "bootstrap";

.color-bg {
  background-color: #36302e;
}

nav {
  margin: auto -15px;
}

nav a {
  color: #36302e;
}

nav a:hover,
footer a:hover {
  color: #f76208;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  margin: auto 0.4em;
}

li {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #36302e;
  margin: 0;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.fa {
  margin: auto 10px;
  color: #f76208;
}

.primary-color {
  color: #36302e;
}

.secondary-color {
  color: #f76208;
}

.article_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

article,
figure {
  width: 100%;
  height: 30vh;
}

.article_section article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

img.image {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.most-popular {
  display: grid;
  grid-template-columns: 1fr;
}

.most-popular article {
  height: 60vh;
  position: relative;
}

.side-content {
  background-color: brown;
  height: 60vh;
}

.top-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-category article {
  position: relative;
  width: 100%;
  height: 25vh;
}

.top-category h5 {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-category h6 {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.most-popular h4 {
  position: absolute;
  top: 8px;
  left: 16px;
}

.most-popular h5 {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.article-show img {
  float: right;
}

.article_details {
  position: relative;
}

.article_vote {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
