/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
nav a {
  color: #36302e;
}

.navbar-nav {
  flex-direction: row;
}
.nav-link {
  margin: auto 0.4em;
}

li {
  list-style: none;
}
footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  background: #36302e;
  margin-bottom: 0;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.primary-color {
  color: #36302e;
}
.secondary-color {
  color: #f76208;
}
