// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article_section article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img.image {
  width: 250px;
  height: 200px;
}
