
<section class="pt-2 mt-5">
   <h3 class="row justify-content-center my-3"> <%= @category.name %></h3>
   <div class="row my-3 pt-1">
    <%= render @articles %>
  </div>
</section>
<%= render 'shared/footer' %>

