
<section class="section_for_articles">
   <h3 class="row justify-content-center"> <%= @category.name %></h3>
   <div class="articles my-3 pt-1">
    <%= render @articles %>
  </div>
</section>
<%= render 'shared/footer' %>

